@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@500&family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(6, 62, 95);
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Lobster', sans-serif; */
        /* font-family: 'Montserrat Alternates', sans-serif; */
        /* font-family: 'Roboto', sans-serif; */
}
.bio{
    width: 60%; 
    display: flex;
    margin: 20px auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    
}
div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 1.5rem;
}
.about{
    padding: 20px;
}
h4{
    text-align: center;
    font-family: 'Lobster', sans-serif;
}
p{
    font-size: clamp(5px,1.6vw,15px);
}
img{
    width: 100%;
    border-radius: 20px;
}
.form{
    border: 2px solid;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    color: white;
}
input,select{
    display: block;
    margin: 5px auto;
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}
table{
    /* border: 2px solid; */
    margin: 20px auto;
    width: 60%;
    color: white;
}
th,td{
    border: 2px solid white;
    border-bottom: 2px solid;
    padding: 5px;
}

